div.Card {
    width: 100px;
    height: 150px;    
    background-color: rgb(71, 194, 167);
    border: 2px solid rgb(88, 105, 9);
    border-radius: 4px;
    cursor: pointer;
    margin:2px;
}

div.Card:hover {
    box-shadow: 0px 0px 2px 2px rgb(153, 138, 138);
}